body {
    color: #8f8f8f;
    font: 12px Tahoma, sans-serif;
    background-color: #f8f8f8;
    border-top: 5px solid #7e7e7e;
    margin: 0;
}

input[type="text"] {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    height: 30px;
    color: #b2b2b2;
    padding: 0 10px;
    vertical-align: top;
}

button {
    color: #fff;
    background-color: #29c5e6;
    border: none;
    height: 32px;
    font-family: 'Oswald', sans-serif;
}

p {
    margin: 20px 0;
}

/* стили контента */
#wrapper {
    max-width: 960px;
    margin: auto;
}

header {
    padding: 20px 0;
}

form[name="search"] {
    float: right;
}

/* стили для меню */
nav a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}

.top-menu {
    background: #f3f3f3;
}

.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}

.top-menu li.active {
    background: #29c5e6;
    color: #fff;
}

.top-menu a {
    color: #b2b2b2;
}

/* /стили для меню */

/* стили к цитате */
blockquote {
    margin: 0;
    background: #e2e2e2;
    padding: 40px 205px 293px 40px;
    font-family: 'Oswald', 'Light';
    font-weight: 300;
}

blockquote p {
    color: #5a5a5a;
    font-style: normal;
    font-size: 42px;
    margin: 0;
    text-transform: uppercase;
}

blockquote cite {
    display: block;
    font-size: 20px;
    font-style: normal;
    color: #bebebe;
    margin: 0;
    /*text-align: left;*/
}

/* /стили к цитате */

/* стили для нижнего меню */
.bottom-menu {
    background: #f3f3f3;
}

.bottom-menu li {
    text-transform: uppercase;
    display: inline-block;
    list-style-position: inside;
    font: 18px 'Oswald', 'Light';
    padding: 0;
    margin: 0;
    width: 237px;
}

.bottom-menu li.active_1 {
    color: #29c5e6;
}

.bottom-menu a {
    color: #8f8f8f;
    padding: 17px 0;
}

.num {
    display: inline-block;
    background: #8f8f8f;
    color: #ffffff;
    padding: 5px 10px;
    margin: 12px;
}

.num_active {
    display: inline-block;
    background: #29c5e6;
    color: #ffffff;
    padding: 5px 10px;
    margin: 12px;
}

/* /стили для нижнего меню */

/* стили для контейнера */
.container {
    padding-top: 30px;
    display: flex;
}

/* стили для карточки */

.card {
    padding: 10px;
    /* width: calc(50% - 20px); */
    width: 50%;
    max-width: 460px;
}
.card-4 {
    display: flex;
    flex-direction: column;
}

.mini-card {
    display: flex;
    padding-bottom: 5px;
}

.card-bottom {
    padding: 10px;
    width: 33.33%;
    max-width: 300px;
}

/* card-hadder */
.card-hadder {
    display: flex;
    margin-bottom: 16px;
}

.card-hadder-f {
    display: flex;
    padding-top: 20px;
    margin-bottom: 16px;
    margin-left: 10px;
    max-width: 960px;
}

.card-marker {
    width: 15px;
    height: 15px;
    background: #29c5e6;
}

.card-title {
    padding: 0 5px;
    font-size: 14px;
    color: #868686;
    text-transform: uppercase;
}

.card-texture {
    padding-left: 5px;
    height: 16px;
    background-image: url(images/h1-bg.png);
}
.card-texture-1 {
    width: 286px;
}
.card-texture-2 {
    width: 272px;
}
.card-texture-3 {
    width: 211px;
}
.card-texture-4 {
    width: 194px;
}
.card-texture-5 {
    width: 150px;
}

.card-texture-full {
    width: 830px;
}

/* /card-hadder */

/* card-info */
.card-info {
    display: flex;
}

.card-photo {
    background: #e2e2e2;
    width: 141px;
    height: 141px;
    border: thick double #ffffff;
    margin-right: 19px;
}

.mini-card-photo {
    background: #e2e2e2;
    width: 40px;
    height: 40px;
    border: thick double #ffffff;
    margin-right: 11px;
}

.card-direction {
    flex-direction: column;
    
}
.card-text {
    max-width: 325px;
    text-align: justify;
}

.mini-card-text {
    max-width: 250px;
    text-align: justify;
}

.card-descripton {
    margin-top: 29px;
    color: #525252;
}

.card-bottom .card-descripton {
    padding-top: 5px;
}

.card-descripton a {
    color: #525252;
}

/* /card-info */
/* /стили для карточки */

/* /стили для контейнера */
.logos {
    display: flex;
    width: 940px;
    height: auto;
    padding: 0 30px;
    margin-bottom: 50px;
}
/* /стили контента */

/* стили для footer */
footer {
	background: #7e7e7e;
	color: #dbdbdb;
	font-size: 11px;
}

#footer {
	max-width: 960px;
	margin: auto;
	padding: 10px 0;
	height: 90px;
}

/* стили для твиттера */
footer h3 {
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	border-bottom: 1px solid #919191;
	margin: 0 0 10px 0;
}

#twitter time a {
	color: #b4aeae;
}

footer p {
	margin: 5px 0;
}

#twitter {
	float: left;
	width: 300px;
}

#twitter p {
	padding-right: 15px;     /*Из интересных моментов здесь следующее: подчеркивание у заголовка мы сделали через нижнюю границу, а сам блок твиттера, как и последующие блоки выровняем по левому краю и задаём ширину.*/
}/* /стили для твиттера */

/* стили для карты сайта */
footer a {
	color: #dbdbdb;
}

#sitemap {
	width: 150px;
	float: left;
	margin-left: 20px;
	padding-right: 15px;
}

#sitemap div {
	display: inline-block;
}

#sitemap div + div {
	margin-left: 40px;
}

#sitemap a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
}

#sitemap a:hover {
	text-decoration: underline;
} /* /стили для карты сайта */

/* социальные ссылки */
/*Здесь мы применили технику спрайтов – когда один файл с изображением применяется для разных картинок. Все ссылки разделились на большие иконки (.social-icon) и маленькие (.social-icon-small). Мы задали этим классом отображение в виде инлайнового блока с фиксированными размерами и одинаковым фоном. А затем с помощью css сдвинули этот фон так, чтобы на каждой ссылке отобразилось соответствующее изображение.*/
#social {
	float: left;
	margin-left: 20px;
	width: 130px;
}

.social-icon {
	width: 30px;
	height: 30px;
	background: url(images/social.png) no-repeat;
	display: inline-block;
	margin-right: 10px;
}

.social-icon-small  {
	width: 16px;
	height: 16px;
	background: url(images/social-small.png) no-repeat;
	display: inline-block;
	margin: 5px 6px 0 0;
}

.twitter {
	background-position: 0 0;
}

.facebook {
	background-position: -30px 0;
}

.google-plus {
	background-position: -60px 0;
}

.vimeo {
	background-position: 0 0;
}

.youtube {
	background-position: -16px 0;
}

.flickr {
	background-position: -32px 0;
}

.instagram {
	background-position: -48px 0;
}

.rss {
	background-position: -64px 0;
} /* /социальные ссылки */

/* Блок с копирайтом и логотипом */
#footer-logo {
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
} /* /Блок с копирайтом и логотипом */
/* /стили для footer */